a {
  text-decoration: none;
  background-color: none;
}

/* .header */

.header {
  display: flex;
  position: fixed;
  background-color: #fff;
  color: #000;
  height: 3.5rem;
  z-index: 999;
  padding: 1rem 1rem 0 1rem;
  left: 0;
  right: 0;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  border-bottom: 1px solid #f3f3f3;
}

.header+:not(amp-sidebar),.header+amp-sidebar+* {
  margin-top: 3.5rem
}

.header .ampstart-nav-search:active,.header .ampstart-nav-search:focus,.header .ampstart-nav-search:hover {
  box-shadow: none
}

.header+:not(amp-sidebar),.header+amp-sidebar+* {
  margin-top: 3.5rem
}

.header .ampstart-nav-search:active,.header .ampstart-nav-search:focus,.header .ampstart-nav-search:hover {
  box-shadow: none
}

/* more header styles */

.header a {
  padding-bottom: 0;
  margin: 0 auto .5rem auto;
}

.header amp-img {
  margin: 0 auto;
}

.cart-container {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding: 1rem 1.5rem 0 0;
}

.cart-container div {
  width: 25px;
  margin-right: 1rem;
}

/* menu-button */

.menu-button {
  position: absolute;
  top: 0;
  margin: 1rem 1rem 0 0;
  line-height: 3.5rem;
  font-size: 2.2rem;
}

.header .menu-button {
  color: #222;
  font-size: 1.38rem;
  padding-right: 0
}

.menu-button:focus {
  outline: 5px auto -webkit-focus-ring-color
}

.menu-button:focus {
  outline: none
}

.menu-button svg {
  pointer-events: none
}

nav a,.menu-button, amp-sidebar-faq a {
  cursor: pointer;
  text-decoration: none
}


/* Sidebar */

amp-sidebar {
  background-color: #fff;
  color: #000;
  min-width: 300px;
  width: 350px;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  height: 100%;
}

amp-sidebar .menu-button {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: normal;
  top: 0
}

amp-sidebar .menu-button {
  line-height: inherit
}

amp-sidebar.ampstart-icon {
  fill: #f88
}

amp-sidebar .social {
    margin-top: 1rem;
}

amp-sidebar .social li {
  display: inline-block;
}

/* TODO: consider removing "amp-sidebar" from all of the following */

amp-sidebar.ampstart-nav-dropdown {
  margin: 0
}

/* TODO: this has to supercede the margin: 0 0 2 rem rule */
amp-sidebar .ampstart-faq-item {
  margin: 0
}

amp-sidebar .ampstart-navbar-trigger {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: normal;
    top: 0
}
/*
amp-sidebar .ampstart-dropdown-item, amp-sidebar .ampstart-dropdown header, amp-sidebar .ampstart-faq-item, amp-sidebar .ampstart-nav-item, amp-sidebar .ampstart-social-follow {
  margin: 0 0 2rem
}
*/

amp-sidebar .social {
  margin:.5rem 0 1rem;
}

nav .label {
  color: inherit;
}

nav {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

amp-sidebar ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: #222;
  margin-bottom: 1rem;
}

nav li:active, nav li:focus, nav li:hover {
  opacity: 1
}

nav li.logo, nav li.logo a {
  margin-bottom: 0;
}

/* does .ampstart-headerbar-nav this ever get used? */
.ampstart-headerbar-nav .ampstart-nav-item {
  padding: 0 1rem;
  background: transparent;
  opacity: .8
}

.ampstart-headerbar-nav {
  line-height: 3.5rem
}

.ampstart-headerbar-nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.ampstart-nav-search {
  -webkit-box-flex: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5
}

.ampstart-nav-search>input {
  border: none;
  border-radius: 3px;
  line-height: normal
}

.ampstart-nav-dropdown {
  min-width: 200px
}

.ampstart-nav-dropdown amp-accordion header {
  background-color: #fff;
  border: none
}

.ampstart-nav-dropdown amp-accordion ul {
  background-color: #fff
}

.ampstart-nav-dropdown .ampstart-dropdown-item,.ampstart-nav-dropdown .ampstart-dropdown>section>header {
  background-color: #fff;
  color: #000
}

.ampstart-nav-dropdown .ampstart-dropdown-item {
  color: #f88
}

.ampstart-sidebar-header {
  line-height: 3.5rem;
  min-height: 3.5rem
}

nav a {
  font-family: Open Sans Condensed,sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative
}

.amp-mode-mouse nav li:after {
  background-color: #222;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.19,1,.22,1);
  transition: -webkit-transform .3s cubic-bezier(.19,1,.22,1);
  transition: transform .3s cubic-bezier(.19,1,.22,1);
  transition: transform .3s cubic-bezier(.19,1,.22,1),-webkit-transform .3s cubic-bezier(.19,1,.22,1);
  width: 100%;
  bottom: 0;
  height: 2px;
  content: "";
  display: block
}

.amp-mode-mouse nav li:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}



/* removed seemingly redundant .ampstart-sidebar .ampstart-icon class here. But you never know. */
.ampstart-icon {
  fill: #222
}

nav li amp-img {
  display: inline-block;
  width: 120px;
  margin-bottom: 2rem;
}

.ampstart-sidebar-header {
  position: relative;
  z-index: 1
}

amp-sidebar .faq {
  width: 100%;
  color: #222;
  font-family: Cardo,serif;
  padding-top: 1rem
}

amp-sidebar .faq li {
  line-height: normal;
  padding: 0 0 .5rem
}

.amp-mode-mouse amp-sidebar .faq li:hover {
  text-decoration: underline;
}



.ampstart-byline,.ampstart-caption,.ampstart-hint,.label {
  font-size: 1.125rem;
  color: #4f4f4f;
  line-height: 1.125rem;
  letter-spacing: .06rem
}

.label {
  text-transform: uppercase;
}



/* Media queries */

@media (min-width:52.06rem) {
  .main {
    min-height: calc(100vh - 181px - 5rem)
  }

  .header+:not(amp-sidebar),.header+amp-sidebar+*,.main {
    margin-top: 5rem
  }

  .header {
    height: 5rem;
    border-bottom-color: #f3f3f3
  }

  .header .menu-button {
    margin-left: .5rem;
    top: .5rem
  }

  amp-sidebar.menu-button {
    margin-top: .5rem;
    padding-top: 0;
  }

  amp-sidebar {
    width: 25%;
  }

  .ampstart-sidebar-header {
    position: absolute;
    top: 1rem;
    left: 2rem
  }  

  .ampstart-sidebar-nav {
    display: inline-block;
    text-align: center
  }

}
