html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

* {
  box-sizing: border-box
}

article,aside,footer,header,nav,section {
  display: block
}

main {
  max-width: 1280px;
  margin: 3.5rem auto 0;
  display: block;
}

body {
  background: #fff;
  margin: 0;
  color: #222;
  font-family: Cardo,serif;
  min-width: 315px;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-size: .94rem;
  line-height: normal
}

p {
  padding: 0;
  margin: 0
}

pre {
  font-family: monospace,monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active,a:hover {
  outline-width: 0
}

b, strong {
  font-weight: inherit;
  font-weight: bolder
}

small {
  font-size: 80%
}

img {
  border-style: none
}

button,input,optgroup,select,textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,input {
  overflow: visible
}

button,select {
  text-transform: none
}

textarea {
  overflow: auto
}

[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText
}

[type=checkbox],[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

.h1 {
  font-size: 3.5rem
}

.h2 {
  font-size: 2.2rem
}

.h3 {
  font-size: 1.75rem
}

.h3 {
  color: #222
}

.h4 {
  font-size: 1.38rem
}

.h5 {
  font-size: 1.125rem
}

.h6 {
  font-size: 1rem
}
.h7 {
  font-size: .94rem
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

.h1,h1 {
  font-size: 3.5rem;
  line-height: 3.5rem
}

.h2,h2 {
  font-size: 2.2rem;
  line-height: 2.5rem
}

.h3,h3 {
  font-size: 1.75rem;
  line-height: 2rem
}

.h4,h4 {
  font-size: 1.38rem;
  line-height: 1.5rem
}

.h5,h5 {
  font-size: 1.125rem;
  line-height: 1.125rem
}

.h6,h6 {
  font-size: 1rem;
  line-height: 1rem
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: .06rem
}

.bold {
  font-weight: 700
}

.regular {
  font-weight: 400
}

.italic {
  font-style: italic
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0
}

.left-align {
  text-align: left
}

.center {
  text-align: center
}

.right-align {
  text-align: right
}

.underline {
  text-decoration: underline
}

.inline {
  display: inline
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.clearfix:after,.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.left {
  float: left
}

.right {
  float: right
}

.fit {
  max-width: 100%
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.rounded {
  border-radius: 3px
}

.display-none {
  display: none
}

a,a:active,a:visited {
  color: inherit
}

/*
.ampstart-icon {
  fill: #f88
}
*/


amp-selector [option] {
  outline: 1px solid #f3f3f3
}

amp-selector [option]:hover {
  outline: 1px solid #222
}

amp-selector [option][selected] {
  outline-color: #222
}

.amp-carousel-button-next,.amp-carousel-button-prev {
  display: none
}

.icon-star,.icon-star-empty {
  height: 14px;
  width: 14px;
  color: #f9ab00;
}

.icon-star-empty {
  color: #dadada;
}


/* "commerce-" things. Are they still needed? */
.commerce-product-btn-wrapper {
  text-align: center
}

@media (min-width:52.06rem) {
  .commerce-product-btn-wrapper {
    text-align: initial
  }
}

.commerce-product-color-swatch {
  height: 24px;
  width: 24px;
  margin-left: .5rem
}

.commerce-product-color-swatch:first-child {
  margin-left: 0
}

.commerce-product-color-blue {
  background-color: #1d4cdf
}

.commerce-product-color-black {
  background-color: #000
}

.commerce-product-thumb {
  width: 43px;
  margin-left: .5rem
}

.commerce-product-thumb:first-child {
  margin-left: 0
}

@media (min-width:52.06rem) {
  .commerce-product-thumb {
    width: 80px
  }

  .commerce-product-desc {
    margin-right: 8.33333%
  }
}

.commerce-blog-wrapper {
  background-color: #fff
}

.commerce-blog-wrapper p {
  line-height: 1.6
}

.commerce-blog-sidebar .ampstart-social-follow li:first-child a {
  margin-left: -.5rem
}

.commerce-cart-added .ampstart-headerbar-icon-wrapper:after {
  content: "1";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #f88;
  color: #fff;
  font: 700 .7rem Open Sans Condensed,sans-serif;
  opacity: 0;
  -webkit-animation: c .5s forwards;
  animation: c .5s forwards
}