@import 'mixins';

amp-sidebar {
	background-color: #fff;
	color: #000;
	min-width: 300px;
	width: 350px;
	padding: 0 1.5rem;
	margin-bottom: 1.5rem;
	text-align: center;
	height: 100%;

	@include desktop {
		width: 25%;

		&.menu-button {
			margin-top: .5rem;
			padding-top: 0;
		}
	}

	h3 {
		font-size: .94rem;
		padding-top: 1.5rem;
	}

	.social {
		margin:.5rem 0 1rem;

		li {
			display: inline-block;

			a {
				display: inline-block;
				padding: .5rem;
			}
		}

		.icon {
			fill: #222
		}
	}

	.faq {
		width: 100%;
		color: #222;
		font-family: Cardo,serif;
		padding-top: 1rem

		li {
			line-height: normal;
			padding: 0 0 .5rem
		}
	}

	.amp-mode-mouse & .faq li:hover {
		text-decoration: underline;
	}
}

.menu-close-button {
	margin-top: 1rem;
	font-size: 1.5rem;
	line-height: 2.5rem;
	top: 0
}

.menu {
	margin-bottom: 2rem;
	text-transform: uppercase;

	a {
		font-family: Open Sans Condensed,sans-serif;
		font-size: 1.75rem;
		font-weight: 700;
		line-height: normal;
		display: inline-block;
		position: relative
	}

	li {
		color: #222;
		margin-top: 1rem;

		&:active,
		&:focus,
		&:hover {
			opacity: 1
		}

		&.logo,
		&.logo a {
			margin-bottom: 0;
		}

		amp-img {
			display: inline-block;
			width: 120px;
			margin-bottom: 2rem;
		}
	}

	.label {
		color: inherit;
	}

	.sub-item {
		margin: 0;

		a {
			font-size: .94rem;
			line-height: .94rem;
			margin: 0;
		}
	}

	.amp-mode-mouse & li {
		&:after {
			background-color: #222;
			left: 0;
			position: absolute;
			transform: scaleX(0);
			transform-origin: left center;
			transition: transform .3s cubic-bezier(.19,1,.22,1);
			width: 100%;
			bottom: 0;
			height: 2px;
			content: "";
			display: block
		}

		&:hover:after {
			transform: scaleX(1)
		}
	}
}

.menu-header {
	display: flex;
	line-height: 3.5rem;
	min-height: 3.5rem
}