/*TODO: remove next line / update footer code*/
nav .social-icons {
	padding-bottom: 0;
}

#order {
    width: 100%;
}
.unavailable {
    position: relative;
    background: gray;
    overflow: hidden;
    opacity: .6;
    pointer-events: none;
    user-select: none
}
.unavailable:after,
.unavailable:before {
    position: absolute;
    content: '';
    background: grey;
    display: block;
    width: auto;
    height: 1px;
    min-width: 56px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -11px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-bottom: 2px solid
}
.unavailable:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}