<!-- TODO: provide option in template to not show "X" on checkout page or Continue button on cart page -->
      <div class="cart-product">
        <div class="cart-image-container">
          <amp-img src="../../img/e-commerce/product/product-8.jpg" width="1" height="1" layout="responsive" alt="Caliper Brakes" noloading="">
            <div placeholder="" class="loading"></div>
          </amp-img>
        </div>
        <div class="cart-product-left">
          <h6>Caliper Brakes</h6>
          <div>Fits most wheel sizes and designed to last long.</div>
        </div>
        <div class="cart-product-right h6">
          <span>£349</span>
          <span>1</span>
          <div role="button" class="close-button" tabindex="0">✕</div>
        </div>
      </div>
      <div class="cart-product">
        <div class="cart-image-container">
          <amp-img src="../../img/e-commerce/product/product-1.jpg" width="1" height="1" layout="responsive" alt="Sprocket Set" noloading="">
            <div placeholder="" class="loading"></div>
          </amp-img>
        </div>
        <div class="cart-product-left">
          <h6>Sprocket Set</h6>
          <div>Steel, designed for long lasting stability.</div>
        </div>
        <div class="cart-product-right h6">
          <span>£470</span>
          <span>1</span>
          <div role="button" class="close-button" tabindex="0">✕</div>
        </div>
      </div>