<header class="header">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="burger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="block">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
    </div>
    <a href="/">
      <amp-img src="../../img/e-commerce/logo.png" width="120" height="37" layout="fixed" alt=""></amp-img>
    </a>
    <div class="cart-icon-container">
        <div>
        </div>
        <a href="/shopping-cart">
          <div>
            <amp-img src="../../img/e-commerce/campmor_backpack.png" width="35" height="27"></amp-img>
        </div>
        </a>
    </div>
</header>